# Copiar este arquivo para .env e preencher as variáveis de ambiente

# Prisma DB
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public

# Better Auth
BETTER_AUTH_SECRET=YOUR_SECRET_KEY
# pnpm dlx @better-auth/cli@latest secret
# npx @better-auth/cli@latest secret
# ou: openssl rand -base64 32

BETTER_AUTH_URL=http://localhost:3000

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:3000